   
#Principal{
    background-color: #8469c6;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}


#parte2 {
    background: linear-gradient(to bottom, #8469c6, #2ebf91);
    padding: 15% 15% 10rem;
    
}

#proyectos{
    padding: 7% 15%;
    background-color: #2ebf91;    
}


#footer{
    background-color: #2ebf91;
        padding: 7% 15%;
    
}

#descri{
padding: 7% 10%;
}




h4 {
    font-family: 'Raleway', sans-serif;   
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    color: #8360c3;
}

h5 {
    font-family: 'Raleway', sans-serif;   
    font-weight: 80;
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

p{
    font-family: 'Raleway', sans-serif;   
    color: #fff;
    text-align: justify  ;
    font-weight: bold;
}

.navbar-brand{
    font-family: 'Raleway', sans-serif;   
    font-size: 2.0rem;
    font-weight: bold;
    background-color: #fff;

}

.navbar {
    padding: 0 0 .01rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-item {
    padding: 0 18px;
    
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;   
    font-style: italic;
    font-weight: 800;
    color: #fff;}
    
}

.social-icon{
    margin: 100px 100px 100px;
    color: #fff;
}   


. Logoprincipal{
    display:block;
    margin-left: 40%;
    max-width: 100%;
    min-width: 10%;
}


.Logoprincipal{
display:block;
margin-left: auto;
margin-right: auto;
max-width: 80%;
object-fit: contain;
}


 
.container {
    margin: 0 0 1rem;
    height: 10rem;
    display: flex;
    /* align-items por defecto tiene el valor `stretch` */
    align-items: start;
  }

.notan{
    display:block;
    width: 500%;
}

nav-link:hover{
   color: #2ebf91;
}

.card {
    background-color:  rgba(255, 255, 255, 0.3);
   
    }